@import "../../assets/scss/stylesTheme/colors";

.btn-theme {
  background-color: var(--bgBtnMode);
  border: none;
  color: $white;
  display: block;
  font-size: 1.2rem;
  font-weight: 600;
  width: 120px;
  padding: 5px;
  border-radius: 8px;
  text-align: center;
  margin: 0 0 0 10px;
  cursor: pointer;

  &:hover {
    background-color: $bgbtnModeHover;
  }
}
