
.search {
    .search-container {
        background-color: #ffff;
    
       .search-list {
            padding: 12px 16px;
            color: rgb(36, 36, 36);
            font-size: 13px;
            line-height: 20px;
            text-decoration: none;
            font-weight: 500;
            border-top: 1px solid rgb(242, 242, 242);
            display: flex;
            -webkit-box-align: center;
            align-items: center;
        } 
    
        p {
            margin-left: 10px;
        }
    }
    
    .mobile__header--cate-logo {
        padding: 15px 12px 0px;
        margin-bottom: 12px;
        position: sticky;
        z-index: 1000;

        .left-header {
            display: flex;
            -webkit-box-align: center;
            align-items: center;
    
            img {
                padding: 6px;
                border-radius: 20px;
                width: 32px;
                height: 32px;
                background: rgba(36, 36, 36, 0.5);
            }
        }   
    
        &--logo {
            display: flex;
            flex: 1 1 0%;
            padding: 8px 0px 16px;
            -webkit-box-align: center;
            align-items: center;
            justify-content: space-between;
        }
        &--search {
            align-items: center;
            background-color: #fff;
            border-radius: 3px;
            display: flex;
            left: 12px;
            line-height: 36px;
            padding: 0 12px;
            text-decoration: none;
            transition-duration: .3s;
            z-index: 1;
            margin-right: 15px;
        
    
            input {
                border: 0px;
                height: 36px;
                line-height: 36px;
                margin: 0px 0px 0px 8px;
                outline: 0px;
                width: 100%;
                padding: 0px;
            }

        }
        
        &--cate-logo {
            display: flex;
            flex: 1 1 0%;
            padding: 10px 0px 2px;
            -webkit-box-align: center;
            align-items: center;
            justify-content: space-between;

        }
    
        &--cate-search {
            align-items: center;
            background-color: #fff;
            border-radius: 3px;
            display: flex;
            left: 12px;
            line-height: 36px;
            padding: 0 12px;
            text-decoration: none;
            transition-duration: .3s;
            z-index: 1;
            width: 80%;
        
    
            input {
                border: 0px;
                height: 36px;
                line-height: 36px;
                margin: 0px 0px 0px 8px;
                outline: 0px;
                width: 100%;
                padding: 0px;
            }
        }
    }
}
