$bgBodyDark: #222232;
$black: #000;
$white: #fff;
$bgHeaderLight:linear-gradient(132.71deg, #6345ED 18.12%, #DC39FC 81.74%);
$bgFooterLight: #14161b;

$bgCardProductDark: #2c2c66;
$bgCardProductLight: #f5f1f1;

$bgbtnMode: #6345ed;
$bgbtnModeDark: #DC39FC;
$bgbtnModeHover: #6350bb;
$bgBtn: linear-gradient(132.71deg, #DC39FC 18.12%, #6345ED 81.74%);




