.suggestion {
    margin-top: 30px;
    border-radius: 4px;
    margin-bottom: 100px;

    &__title {
        display: flex;
        background: rgb(245, 245, 250);
        border-radius: 5px 5px 0px 0px;
        flex-direction: column;
        padding: 0 10px;

        position: sticky;
        top: 1px;
        z-index: 998;

        .inner {
            margin-left: -7px;
            margin-right: -7px;
        }

        @media (max-width: 1024px) {
            .inner {
                margin-left: -8px;
                margin-right: -8px;
            }
        }

        // css icon
        .group {
            display: flex;
            padding: 10px;
            margin: 5px 0px;
            background-color: white;
            flex: 1 1 0%;
            border-radius: 4px;


            .title {
                font-size: 24px;
                font-weight: 550;
                text-transform: capitalize;
                line-height: 28px;
            }

            @media (max-width: 1024px) {
                .title {
                    font-size: 18px;
                    font-weight: 550;
                    text-transform: capitalize;
                    line-height: 20px;
                }
            }

            .icon {
                position: relative;
                width: 12px;
                height: 12px;
                border-radius: 50%;
                margin-right: 21px;
                margin-left: 8px;
                margin-top: 15px;
                background-color: #FF0000;


            }

            .icon::after {
                content: '';
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                width: 26px;
                height: 26px;
                border-radius: 50%;
                border: 2px solid #FF0000;
            }

            .ripple::before {
                content: "";
                position: absolute;
                -webkit-animation-delay: .3s;
                animation-delay: .3s;
            }

            .ripple::after {
                content: "";
                position: absolute;
                -webkit-animation-delay: .15s;
                animation-delay: .15s;
            }

            .ripple::before,
            .ripple::after {
                position: absolute;
                top: 50%;
                left: 50%;
                width: 26px;
                height: 26px;
                border-radius: 50%;
                -ms-border-radius: 50%;
                -webkit-border-radius: 50%;
                -moz-border-radius: 50%;
                -ms-border-radius: 50%;
                -o-border-radius: 50%;
                transform: translate(-50%, -50%);
                -ms-box-shadow: 0 0 0 0 rgba(195, 16, 16, 0.6);
                -o-box-shadow: 0 0 0 0 rgba(195, 16, 16, 0.6);
                box-shadow: 0 0 0 0 rgba(195, 16, 16, 0.6);
                -webkit-animation: ripple 1.5s infinite;
                animation: ripple 1.5s infinite;
            }

            @media (max-width: 1024px) {
                .icon {
                    width: 10px;
                    height: 10px;
                    margin-right: 10px;
                    margin-left: 5px;
                    margin-top: 5px;
                }

                .icon::after {
                    content: '';
                    position: absolute;
                    transform: translate(-50%, -50%);
                    width: 16px;
                    height: 16px;
                    border-radius: 50%;
                    border: 2px solid #FF0000;
                }

                .ripple::after {
                    position: absolute;
                    width: 16px;
                    height: 16px;
                    border-radius: 50%;
                    -ms-border-radius: 50%;
                    -webkit-border-radius: 50%;
                    -moz-border-radius: 50%;
                    -ms-border-radius: 50%;
                    -o-border-radius: 50%;
                    transform: translate(-50%, -50%);
                    -ms-box-shadow: 0 0 0 0 rgba(195, 16, 16, 0.6);
                    -o-box-shadow: 0 0 0 0 rgba(195, 16, 16, 0.6);
                    box-shadow: 0 0 0 0 rgba(195, 16, 16, 0.6);
                    -webkit-animation: ripple 1.5s infinite;
                    animation: ripple 1.5s infinite;
                }
            }


            // end css icon   
        }

        &-list {
            display: grid;
            margin-bottom: 4px;
            overflow: auto;
            position: relative;
            grid-template-columns: repeat(8, 1fr);
            column-gap: 4px;
            margin-left: -7px;
            margin-right: -7px;

            .tab {
                border: 1px solid white;
                background-color: white;
                display: flex;
                flex-direction: column;
                -webkit-box-align: center;
                align-items: center;
                flex-shrink: 0;
                cursor: pointer;
                min-height: 78px;
                border-radius: 4px;
                padding: 4px 8px;

                img {
                    transition: all 0.4s ease 0s;
                    border-radius: 4px;
                    width: 48px;
                }

                &-text {
                    padding-top: 4px;
                    line-height: 18px;
                    text-align: center;
                    -webkit-box-orient: vertical;
                    -webkit-line-clamp: 1;
                    overflow: hidden;
                    display: -webkit-box;
                    word-break: break-word;
                    color: rgb(120, 120, 120);
                }
            }

            .tab.active {
                border: 1px solid rgb(13, 92, 182);

                .tab-text {
                    color: rgb(13, 92, 182);
                }
            }

            @media (max-width: 1024px) {
                .tab {
                    border: 1px solid white;
                    background-color: white;
                    display: flex;
                    flex-direction: column;
                    -webkit-box-align: center;
                    align-items: center;
                    flex-shrink: 0;
                    cursor: pointer;
                    min-height: 50px;
                    border-radius: 4px;
                    padding: 4px 8px;
                }
            }

        }
    }

    &__product {
        display: flex;
        flex-direction: column;
        -webkit-box-align: center;
        align-items: center;
        background: white;
        padding: 0px 5px 16px;
        border-radius: 0px 0px 4px 4px;

        .content {
            margin-top: 10px;
            display: flex;
            flex-wrap: wrap;
            align-self: stretch;
            background-color: rgb(255, 255, 255);
            margin-left: 6px;

            .dashboard-product--item {
                height: auto;
                width: 16.6667%;
            }


        }

        .view-more {
            display: inline-block;
            width: 240px;
            padding: 8px 12px;
            border-radius: 4px;
            border: 1px solid rgb(13, 92, 182);
            color: rgb(13, 92, 182);
            font-size: 13px;
            text-align: center;
            margin-top: 12px;
            font-weight: 500;
        }

        .view-more:hover {
            cursor: pointer;
            border-radius: 4px;
            border: 1px solid rgb(13, 92, 182);
            color: #fff;
            background-color: rgb(13, 92, 182);
        }
    }

    @media (max-width: 1024px) {
        min-height: 500px;
        background: white;

        .title {
            margin-left: 4px;
            display: flex;
            padding: 0;
            background-color: white;
            flex: 1 1 0%;
            font-size: 17px;
            line-height: 24px;
            text-transform: capitalize;
            border-radius: 4px;
            color: rgb(56, 56, 61);
        }

        &__title-list {
            position: sticky;
            top: 0px;
            background: rgb(239, 239, 239);
            z-index: 100;

            display: flex;

            .tab {
                width: 125px;

                img {
                    width: 40px;
                    height: 40px;
                }

                &-text {
                    font-size: 11px !important;
                }
            }
        }

        &__product {
            // display: flex;
            // flex-direction: column;
            // -webkit-box-align: center;
            // align-items: center;
            // background: white;
            // margin-bottom: 8px;
            // border-radius: 0px 0px 4px 4px;

            @media (max-width: 1024px) {
                &__product {
                    padding: 0;
                }
            }

            .content {
                width: 100vw;
                // display: grid;
                grid-template-columns: repeat(2, 1fr);
                align-self: stretch;
                background-color: rgb(255, 255, 255);

                .dashboard-product--item {
                    width: 100%;

                    .thumbnail {
                        text-align: unset;

                        &--product-img img {
                            width: 100%;
                        }
                    }
                }

                a {
                    width: 100%;
                    border-left: 1px solid rgb(242, 242, 242);
                    border-top: 1px solid rgb(242, 242, 242);
                    border-right: 1px solid rgb(242, 242, 242);
                }
            }

            @media (max-width: 1024px) {
                .content {
                    margin: 0;
                    width: auto;

                    .dashboard-product--item {
                        width: 30%;
                        margin-left: 12px;
                        padding-left: 10px;
                        padding-top: 10px;
                    }
                }
            }


            .view-more {
                display: inline-block;
                width: 100px;
                padding: 8px 12px;
                border-radius: 4px;
                border: 1px solid rgb(13, 92, 182);
                color: rgb(13, 92, 182);
                font-size: 13px;
                text-align: center;
                margin-top: 12px;
                font-weight: 500;
                margin-bottom: 40px;
            }
        }
    }

    .dashboard-product--item {
        width: 100% !important;
        height: 100%;
        display: flex;
        flex-wrap: wrap;
        gap: 8px;
        // background-color: rgb(245, 245, 250);

        .product-item {
            display: flex;
            color: rgb(36, 36, 36);
            text-decoration: none;
            flex-direction: column;
            -webkit-box-pack: justify;
            justify-content: space-between;

            &--style {
                display: flex;
                padding: 15px;
                color: rgb(56, 56, 61);
                text-decoration: none;
                flex-direction: column;
                -webkit-box-pack: justify;
                width: 100%;
                height: 100%;

                .thumbnail {
                    flex-shrink: 0;
                    text-align: center;
                    position: relative;
                    width: 100%;

                    &--icon-badge {
                        bottom: 0;
                        left: 0;
                        display: block;
                        position: absolute;
                        z-index: 2;

                        img {
                            width: 136px;
                            height: 24px;
                        }
                    }

                    &--product-img {
                        position: relative;
                        width: 100%;
                        // padding-bottom: 100%;

                        overflow: hidden;
                        margin: 0 auto;

                        img {
                            width: 100%;
                            -webkit-transition: all .8s ease;
                            -moz-transition: all .8s ease;
                            -ms-transition: all .8s ease;
                            transition: all .8s ease;
                        }
                    }

                    &--product-img img:hover {
                        transform: scale(1.5);
                    }
                }

                .infor {
                    margin-top: 15px;

                    .badge-service {
                        margin-bottom: 8px;
                        margin-top: 12px;
                    }

                    .name {
                        display: -webkit-box;
                        -webkit-box-orient: vertical;
                        -webkit-line-clamp: 2;
                        overflow: hidden;

                        h3 {
                            font-weight: 400;
                            font-size: 16px !important;
                            line-height: 22px;
                            color: rgb(56, 56, 61);
                            margin: 0px;
                            word-break: break-word;
                        }

                        h3:hover {
                            color: #DC39FC;
                        }
                    }

                    .price-discount {
                        display: flex;
                        -webkit-box-align: center;
                        align-items: center;
                        margin-top: 4px;
                        color: rgb(56, 56, 61);

                        &__price {
                            font-size: 16px;
                            line-height: 24px;
                            font-weight: 500;
                            color: rgb(56, 56, 61);
                        }
                    }

                    .has-discount {
                        color: rgb(255, 66, 78);

                        .price-discount__discount {
                            padding: 0px 2px;
                            line-height: 14px;
                            font-size: 12px;
                            font-weight: 400;
                            margin-left: 8px;
                            border: 1px solid rgb(255, 66, 78);
                            border-radius: 2px;
                            background-color: rgb(255, 240, 241);
                            color: rgb(255, 66, 78);
                        }
                    }

                    .badge-benefit {
                        margin-top: 8px;
                    }

                    .badge-add-info {
                        display: flex;
                        flex-wrap: wrap;
                        margin-top: 8px;
                    }

                    .deal {
                        text-align: left;
                        font-size: 16px;
                        line-height: 24px;
                        font-weight: 500;
                        color: rgb(56, 56, 61);
                        margin: 8px 0px 12px;
                        display: flex;
                        -webkit-box-align: center;
                        align-items: center;
                        white-space: nowrap;
                    }

                    .deal-quty {
                        background-color: rgb(255, 170, 175);
                        color: rgb(255, 255, 255);
                        border-radius: 10px;
                        position: relative;
                        display: flex;
                        width: 100%;
                        height: 20px;

                        .deal-progress {
                            position: absolute;
                            left: 0px;
                            top: 0px;
                            background-color: rgb(255, 66, 78);
                            height: 20px;
                            border-radius: 10px;
                            min-width: 20px;

                            width: 84%;

                            span {
                                font-size: 11px;
                                line-height: 16px;
                                padding: 0px 0px 0px 6px;
                                display: flex;
                                -webkit-box-align: center;
                                align-items: center;
                                -webkit-box-pack: center;
                                justify-content: center;
                                height: 100%;
                                width: 100%;
                                position: absolute;
                                text-align: center;
                            }

                            img {
                                z-index: 10;
                                position: absolute;
                                width: 24px;
                                height: 24px;
                                bottom: 4px;
                                left: 5px;
                            }
                        }
                    }
                }
            }
        }

        @media (max-width: 1024px) {
            width: 100%;
            position: relative;

            .product-item {
                margin-bottom: 5px;
                width: 30%;
            }
        }

        @media (max-width: 767px) {
            .product-item {
                width: 30%;
            }
        }
    }

    .not-style {
        justify-content: space-between;
    }
}

@media (max-width: 1024px) {
    .dashboard-product--item {
        margin-left: 15px;
    }

    .suggestion {
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        margin-bottom: 0px;
    }
}

@keyframes ripple {
    70% {
        box-shadow: 0 0 0 8px rgba(255, 255, 255, 0);
    }

    100% {
        box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
    }
}